body {
	font-family: sans-serif;
}

ul#preview, ul#preview ul {
	padding-left: 1.4em;
	font-family: 'Consolas', monospace;
	list-style: none;
	padding-bottom: 0.5em;
}

li::before {
	display: inline-block;
	position: relative;
	top: -0.05em;
	width: 1.4em;
	height: 1em;
}

li.file::before {
	content: '📄';
	left: 0.075em;
}

li.directory::before {
	content: '📂'
}

code {
	font-family: Consolas, "Bitstream Vera Sans Mono", monospace;
	background-color: rgb(230, 255, 230);
	padding: 0 3px;
}

#howto li {
	padding-bottom: 0.4em;
}
