body {
	display: grid;
	grid-template-columns: 1fr 1fr 4fr;
	grid-template-rows: 1fr 99fr;
	grid-gap: 1em;

	margin: 0;
	height: 100vh;
	overflow: hidden;

	background-color: #282c34;
	color: #abb2bf;
	font-family: sans-serif;
}

input, textarea {
	background-color: #282c34;
	color: #abb2bf;
}

code, textarea {
	font-family:Consolas,Monaco,Hack,Adobe Source Code Pro,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

textarea {
	white-space: pre;
	overflow-x: auto;
}

h2 {
	font-weight: normal;
	opacity: 0.5;
}

#settings {
	grid-column: 1/-1;
	grid-row: 1;
	margin: 0;
}

#names {
	grid-column: 1;
	grid-row: 2;
}

#candidates {
	grid-column: 2;
	grid-row: 2;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
}

#playground {
	grid-column: 3;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 1em;
}

.candidate {
	position: relative;

	margin-bottom: 1px;
	padding: 4px 0 4px 8px;
	border-radius: 3px;

	transition: position 0.3s ease;
	background-color: #3e424d;
}

.candidate.active {
	color: white;
}

.candidate::after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: right;
}


.group {
	float: left;
	padding: 3px;
	border-radius: 3px;
	background-color: #32363f;
}
.group h2 {
	text-align: center;
	margin-top: 0;
}
.group h2 span.markdown {
	font-size: 0;
}

span.tags {
	float:right;
	text-align: right;
	opacity: 0.8;
}

span.tag {
	background-color: #32363f;
	padding: 2px;
	margin: 0;
	white-space: nowrap;
	font-size: 0.7em;
	line-height: 0.7em;
}
span.tag::before {
	content: attr(data-tag-name);
}

code.hash {
	display: block;
	position: absolute;
	visibility: hidden;

	top: -8px;
	left: 0;

	color: #282c34;
	font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
	font-size: 4em;
	z-index: 0;
}
body.hashes code.hash {
	visibility: visible;
}
span.name {
	position: relative;
	visibility: hidden;

	font-size: 1.5em;
	letter-spacing: 0.04em;
}
body.names span.name {
	visibility: visible;
}
