Dear {{name}},

The admin has created a default password for your owncloud account. Please
change the password as soon as possible.

Address: {{server}}
Username: {{userid}}
Password: {{password}}

Best wishes,
The admin
